$primary-color: rgb(217, 213, 138);
$seconary-color:$primary-color;
$show-home-image:true;
$show-image:url(../img/d5.jpeg);
$background-opacity:0.9;

@mixin easeOut{
    transition: all 0.5s ease-out;
}

@mixin backGround{
    @if $show-home-image{
        &#bg-img{
            background: $show-image;
            background-attachment: fixed;
            background-size: cover;
            
            .overlay{
                position: absolute;
                top:0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color,$background-opacity);
            }
        }
    }

}
//set text color
@function set-text-color($color){
    @if (lightness($color)>40){
        @return black;
    }@else{
        @return white;
    }

}

@mixin mediasm{
    @media screen and (max-width:500px) {
        @content;
    }
}

@mixin mediamd{
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin medialg{
    @media screen and (min-width:769px) and (max-width:1170px) {
        @content;
    }
}

@mixin mediaxl{
    @media screen and (min-width:1171px) {
        @content;
    }
}